<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<h4><%= @user.email %></h4>
<% if current_user.admin? || current_user?(@user) %>
	<% @orders = @user.orders %>
	<table class="table table-striped" style="font-size:18px">
		<thead>
		<tr>
			<th> Order Date </th>
			<th> Status </th>
			<th> &nbsp; </th>
		</tr>
		</thead>
		<tbody>
	  		<%= render @orders %>
	  	</tbody>
	</table>
<% end %>