<li>
  <%= link_to category.name, category %>
  <% if current_user.admin? %> 
  		<%= link_to "&#09;Delete", category, method: :delete, data: { confirm: "Are you sure" } %> |
  		<%= link_to "Edit", edit_category_path(category) %>
  <% end %>
</li>
</br>