<% provide(:title, 'All categories') %>
<h1>All categories</h1>

<table class="table" style="font-size:18px">
  	<%= render @categories %>
</table>
</br>
<% if current_user.admin? %>
	<%= link_to "Create new category", new_category_path , class: "btn btn-large btn-primary" %>
<% end %>