<% provide(:title, @category.name) %>
<h1><%= @category.name %></h1>
<table class="table table-striped" style="font-size:18px">
	<thead>
	<tr>
		<th width="30%" > Product </th>
		<th width="50%" > Description </th>
	</tr>
	</thead>
	<tbody>
  		<%= render @products %>
  	</tbody>
</table>
<% if signed_in? && current_user.admin? %>
	<%= link_to "Create new product", new_product_path, class: "btn btn-primary" %>
<% end %>
