<% provide(:title, @category.name) %>
<h1><%= @category.name %></h1>
<table class="table" style="font-size:16px">
  	<%= render @products %>
</table>
<% if current_user.admin? %>
	<%= link_to "Create new product", new_product_path , class: "btn btn-primary" %>
<% end %>