<% provide(:title, 'All products') %>
<h1>All products</h1>

<table class="table table-striped" style="font-size:18px">
	<thead>
	<tr>
		<th width="20%" > Product </th>
		<th width="40%" > Description </th>
		<th width="20%" > &nbsp;</th>
	</tr>
	</thead>

	<tbody>
  		<%= render @products %>
  	</tbody>
</table>
<% if signed_in? && current_user.admin? %>
	<%= link_to "Create new product", new_product_path, class: "btn btn-primary" %>
<% end %>