<% provide(:title, @product.name) %>
<h3><%= @product.name %></h3>
Description:
<p class="product"><%= @product.description%></p>
Price:
<p class="product"><%= @product.price%> VND</p>

<%= link_to "Add to cart", add_to_cart_path(@product.id), method: :post, 
							class: "btn btn-large btn-primary" %>