<footer class="footer">
  <strong>
    Shop online by QuanNT
  </strong>
  <nav>
    <ul>
    	<li><%= link_to "Help", help_path %></li>
      	<li><%= link_to "About", '#' %></li>
      	<li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>